
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f0f0f0; /* Change this color as desired */
}


  @media screen and (max-width: 768px) {
    .custom-table {
      width: 10%;
    }

    .btn-group-vertical {
      display: block;
    }

    .btn-group-vertical .btn {
      display: block;
      width: 10%;
      margin-bottom: 5px;
    }
  }


span{
  color: red;
}

.search-container {
  position: absolute;
  float: left;
  margin-top: 2rem;
  right: 10px;
}


.search {
  height: 50px;
  width: 300px; /* Adjust as needed */
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 16px;
  transition: width 0.4s ease-in-out;
  outline: none;
}

.search:focus {
  border-color: dodgerblue;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s ease-in-out;
}

.search-container:focus-within .search-icon {
  color: dodgerblue;
}

.col-12 {
  position: relative;
  z-index: 1; /* Ensure the table is behind the search bar */
  margin-top: 70px; /* Adjust to create space for the search bar */
}

